<%= form_for ama_topic, html: { multipart: true } do |f|  %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :title, class: "form-control", placeholder: '标题' %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-6">
      <%= text_field_tag :mentor_email, ama_topic.mentor.try(:email), class: "form-control", placeholder: '邮箱(用于后期提问提醒，请填入正确邮箱地址)' %>
    </div>
    <div class="col-xs-6">
      <%= f.text_field :mentor_name, class: "form-control", placeholder: '称呼' %>
    </div>
  </div>
  <br>
  <p>
    照片（显示在首页）
    <%= image_tag(ama_topic.image_url, :class => "img-circle", :size => "60x60") if ama_topic.image? %>
    <%= f.file_field :image %>
  </p>
  <p><%= f.text_area :content, class: "form-control froala_editor", rows: 16 %></p>
  <br>
  <p>
    <%= f.submit "发布", class: "btn btn-primary", data: { disable_with: '提交中...' } %>
  </p>
<% end %>
