<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="baidu-site-verification" content="zkHgAFeBRH" />
  <title><%= content_for?(:title) ? yield(:title) : "AMA China - 提问，倾听他人的经验和建议；回答，个人经历的整理和分享" %></title>
  <meta name="description" content="AMA-China致力于个人知识管理和共享"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
