<div class="navbar-wrapper-home">
  <div class="container">

    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color:#F5F5F5" href="<%= "#{request.protocol}#{request.host_with_port}" %>">AMA China</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="<%= "#{request.protocol}#{request.host_with_port}" %>" style="color:#F5F5F5">首页</a></li>
            <li><a href="#whatisama" style="color:#F5F5F5">什么是AMA</a></li>
            <li><%= link_to "新建酷的经历", new_ama_topic_path, { :style => "color:#F5F5F5" } %></li>
            <% if current_mentor %>
              <li><%= link_to "退出", destroy_mentor_session_path, { :style => "color:#F5F5F5", :method => "DELETE"} %></li>
            <% elsif current_admin %>
              <li><%= link_to "新建 Ama Mentor", new_ama_mentor_path, { :style => "color:#F5F5F5" } %></li>
              <li><%= link_to "退出", destroy_admin_session_path, { :style => "color:#F5F5F5", :method => "DELETE"} %></li>
            <% else %>
              <li><%= link_to "分享者登录", new_mentor_session_path, { :style => "color:#F5F5F5" } %></li>
              <li><%= link_to "管理员登录", new_admin_session_path, { :style => "color:#F5F5F5" } %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
