<%= render "nav" %>
<%= render "slogon" %>
<div class="container marketing">
  <div class="row">
    <%= render "ama_mentors" %>
  </div>
  <%= render "ama_topics" %>
  <%= render "whatisama" %>
  <%= render "/shared/footer" %>
</div>
