<div class="navbar-wrapper-home">
  <div class="container">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" style="color:#F5F5F5" href="<%= "#{request.protocol}#{request.host_with_port}" %>">AMA China</a>
        </div>
      </div>
    </nav>
  </div>
</div>

<b>
  <div class="slogon_phone">
    <div class="container">
      <div class="col-md-offset-0 col-md-5">
        <br>
        <h1>
          Ask Me Anything
        </h1>
        <br><br><br><br>
        <h2 style="color: #428bca;">
          提问&nbsp;倾听他人的经验和建议
        </h2>
        <h2 style="color: #428bca;">
          回答&nbsp;分享自己的经历和见解
        </h2>
      </div>
    </div>
  </div>
</b>
<br><br>

<div class="container marketing">
  <div class="row">
    <%= render "ama_mentors" %>
  </div>
  <%= render "ama_topics" %>
  <%= render "whatisama" %>
  <%= render "/shared/footer" %>
</div>
