<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AMA China (ask me anything) 提问 回答 分享 学习 个人知识管理和分享">
    <meta name="author" content="zhangzhe">
    <title>AMA China</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="<%= "#{request.protocol}#{request.host_with_port}" %>">AMA China</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="<%= "#{request.protocol}#{request.host_with_port}" %>">首页</a></li>
                <li><a href="#about">什么是AMA</a></li>
                <li><a href="#contact">关于我们</a></li>
                <% if current_mentor %>
                <li><%= link_to "退出", destroy_mentor_session_path, { :method => "DELETE"} %></li>
                <% elsif current_admin %>
                <li><%= link_to "退出", destroy_admin_session_path, { :method => "DELETE"} %></li>
                <% else %>
                <li><%= link_to "分享者登录", new_mentor_session_path %></li>
                <li><%= link_to "管理员登录", new_admin_session_path %></li>
                <% end %>

              </ul>
            </div>
          </div>
        </nav>
      </div>

    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-9" style="padding-top: 15px;">
                <div class="blog-post">
                  <div class="jumbotron">
                    <div class="text-center">
                      <%= image_tag 'mentor2.jpg', :class => "img-thumbnail", :size => "200x200" %>
                      <h2>AMA with sss</h2>
                      <div>Gary strong</div>
                    </div>
                  </div>
                  <div style="word-break:break-all;">

                    做Rails开发挺久的了，从1.x版本一直到近期的4.x，见证了Rails的逐步壮大和完善。目前依然还是很感兴趣，不断学习相关和衍生技术。我愿意在能力范围内回答关于开发相关的各种问题。
                    除了创业也在大公司做过挺久的（甲骨文、广联达），也曾经在美国有过不长的工作经历。关于工作和创业的问题也可以一起探讨。
                    至于有同好的同学更是欢迎讨论:)
                  </div>
                  <br>
                  <div id="comment_form_01">
                    <hr>
                    <br>
                    <p class="text-right">共收到x个提问</p>
                    <br><br>
                  </div>

                  <div class="bottom-column" id="commit_button">
                    <%= link_to "我要提问", "#comment_form_01", class: "btn btn-success btn-lg" %>
                  </div>
                  <br>
                  xxxsss
                </div>
              </div><!-- /.blog-main -->
              <div class="col-sm-3 blog-sidebar">
                <div class="sidebar-module">
                  <p>
                    <div class="sidebar-module sidebar-module-inset">
                      <h2><%= link_to "AMA China", root_path %></h2>
                      <h3>
                        提问，倾听他人的经验和建议
                      </h3>
                      <h3>
                        回答，分享自己的经历和见解
                      </h3>
                      <br>
                    </div>
                    <hr>
                    <h4>更多访谈</h4>
                    <ol class="list-unstyled">
                      <li><%= link_to "黄巧珍－首席捣乱官", "" %></li><br>
                      <li><%= link_to "黄巧珍－首席捣乱官", "" %></li><br>
                      <li><%= link_to "黄巧珍－首席捣乱官", "" %></li><br>
                    </ol>

                    <hr>
                    <% if current_admin %>
                      <%= link_to "修改访谈", "", class: "btn btn-primary" %>

                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
