<!DOCTYPE html>
<html lang="en">
  <%= render "/shared/head" %>
  <body>

    <div class="navbar-wrapper">
      <%= render "/shared/nav" %>
    </div>
    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
      <%= render "/shared/footer" %>
    </div>

  </body>
</html>
