<!DOCTYPE html>
<html lang="en">
  <%= render "/shared/head" %>
  <body>

    <div class="navbar-wrapper">
      <%= render "/shared/nav" %>
    </div>
    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
