<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AMA China (ask me anything) 提问 回答 个人知识管理和分享">
    <meta name="author" content="zhangzhe">
    <title>AMA China</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <div class="navbar-wrapper-home">
      <div class="container">

        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" style="color:#F5F5F5" href="<%= "#{request.protocol}#{request.host_with_port}" %>">AMA China</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="<%= "#{request.protocol}#{request.host_with_port}" %>" style="color:#F5F5F5">首页</a></li>
                <li><a href="#whatisama" style="color:#F5F5F5">什么是AMA</a></li>
                <% if current_mentor %>
                  <li><%= link_to "退出", destroy_mentor_session_path, { :style => "color:#F5F5F5", :method => "DELETE"} %></li>
                <% elsif current_admin %>
                  <li><%= link_to "新建 Ama Mentor", new_ama_mentor_path, { :style => "color:#F5F5F5" } %></li>
                  <li><%= link_to "退出", destroy_admin_session_path, { :style => "color:#F5F5F5", :method => "DELETE"} %></li>
                <% else %>
                  <li><%= link_to "分享者登录", new_mentor_session_path, { :style => "color:#F5F5F5" } %></li>
                  <li><%= link_to "管理员登录", new_admin_session_path, { :style => "color:#F5F5F5" } %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag 'ama1.jpg', class: 'first-slide' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>提问，倾听他人的经验和建议</h1>
              <h1>回答，分享自己的经历和见解</h1><br>
              <br>
              <p><a class="btn btn-lg btn-primary" href="#whatisama" role="button">了解更多</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'ama2.jpg', class: 'second-slide' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>（AMA）Ask Me Anything</h1>
              <br>
              <p>我是某领域的专家或狂热爱好者，我会回答您的的任何问题</p>
              <br>
              <p><a class="btn btn-lg btn-primary" href="#amamentor" role="button">我要提问</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'ama3.jpg', class: 'second-slide' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>酷的经历</h1>
              <br>
              <p>我经历过一件很酷很有趣的事情，您可以针对这类事情问您感兴趣的问题</p>
              <br>
              <p><a class="btn btn-lg btn-primary" href="#amatopic" role="button">我要提问</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <a name="amamentor"></a>
    <div class="container marketing">
      <div class="row">

        <% @ama_mentors.each do |ama| %>
          <div class="col-lg-4">
            <%= link_to image_tag(ama.avatar_url, :class => "img-circle", :size => "140x140"), ama %>
            <h3><%= ama.mentor_name %></h3>
            <p><div class="text-muted"><%= ama.mentor_title %></div></p>
            <div style="text-align: left;"><%= simple_format ama.brief %></div>
            <p><%= link_to "我要提问", ama, :class => "btn btn-default" %></p>
          </div><!-- /.col-lg-4 -->
        <% end %>
      </div><!-- /.row -->
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <a name="amatopic"></a>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">我经常和礼仪模特打交道，你们有什么要问的嘛？</h2>
          <p><a class="btn btn-default" href="#" role="button">我要提问 &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <%= image_tag 'topic1.jpg', :class => "featurette-image img-responsive center-block" %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">我是漫画咖啡店店员：你们有什么要问的吗？</h2>
          <p class="lead">漫画咖啡店，是一种独特的二次元性质店铺。它并非是一种咖啡店，而是一种24小时营业的漫画吧，按小时数来收费，提供免费的咖啡和茶。有的漫画咖啡馆还有小食供应，但小食一般要另外收费。现在很多漫画咖啡馆都是“超范围”经营，除了提供漫画阅览外，还提供电玩、电脑上网等服务，可说是“漫画吧”、“网吧”、“电玩吧”的结合。 </p>
          <p><a class="btn btn-default" href="#" role="button">我要提问 &raquo;</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <%= image_tag 'topic2.jpg', :class => "featurette-image img-responsive center-block" %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">我是北医三院护士，你们有什么要问的？</h2>
          <p class="lead"><p><p><a class="btn btn-default" href="#" role="button">我要提问 &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <%= image_tag 'topic3.jpg', :class => "featurette-image img-responsive center-block" %>
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
      <a name="whatisama"></a>
      <div class="jumbotron">
        <h3 style="text-shadow: 0 0 24px rgba(0,0,0,.64);">
          什么是AMA？
        </h3>
        <br>
        <h4>
          AMA是Ask me anything的简写，起源于reddit。
          <br><br>是一种针对某人或者某个话题进行提问和回答的互动方式。
          <br><br>每一个AMA都会邀请一个题主，他会回答您提出的任何问题。
        </h4>
      </div>
      <hr class="featurette-divider">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
         <p>&copy;  gary.zzhang@gmail.com</p><p><%= Rails.root.to_s.match(/\d+/).to_s if current_admin %></p>
      </footer>
      <!-- <%= bootstrap_flash %> -->
    </div>
  </body>
</html>
